---
layout: handbook-page-toc
title: "Optimize Group"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

### Manage:Optimize
{: #welcome}


### How we work

* In accordance with our [GitLab values](/handbook/values/).
* Transparently: nearly everything is public, we record/livestream meetings whenever possible.
* We get a chance to work on the things we want to work on.
* Everyone can contribute; no silos.
  * The goal is to have product give engineering and design the opportunity to be involved with direction and issue definition from the very beginning.
* We do an optional, asynchronous daily stand-up in our respective group stand-up channels:
  * Manage:Optimize [#g_manage_optimize_daily](https://gitlab.slack.com/archives/C012SB84TFU)

#### Prioritization
<%= partial "handbook/engineering/development/dev/manage/prioritization.erb", locals: { filter_value: 'optimize' } %>

#### Organizing the work

<%= partial("handbook/engineering/development/dev/manage/organizing_work.erb") %>

#### Estimation

<%= partial("handbook/engineering/development/dev/manage/estimation.erb") %>

#### Planning

We plan in monthly cycles in accordance with our [Product Development Timeline](/handbook/engineering/workflow/#product-development-timeline). While meeting this timeline is up to the discretion of individual groups, a typical planning cycle is suggested to look like:

* By the 4th, Product should have created a planning issue for their group in the [Manage project](https://gitlab.com/gitlab-org/manage/issues) for the coming release.
  * This issue should include a tentative plan for the release, along with links to boards that represent the proposed work for the milestone.
  * Issues of particular significance to our stage's strategy should be marked with `direction`.
* By the 12th, all issues proposed for the next release should be estimated with weights assigned by engineering (`workflow:ready for development`).
  * To assist with capacity planning, we start with a capacity of 10 weight per engineer and deduct based on time off, team days, on-call schedules, or other activities. 
* By the 15th, Product and Engineering will have agreed on the final list of issues for the next release, and the engineering manager will assign the ~Deliverable label to any committed work.
  * A synchronous meeting to review the final release scope is recommended.
  * Issues that we know will slip from the previous release should be reweighted for the remaining effort left and rescheduled to the next release.


##### Deliverable and Stretch issues

<%= partial("handbook/engineering/development/dev/manage/optimize/deliverables.erb") %>

##### Self assignment

<%= partial("handbook/engineering/development/dev/manage/optimize/self_assignment.erb") %>

#### During a release

<%= partial("handbook/engineering/development/dev/manage/release.erb") %>

#### Proof-of-concept MRs

<%= partial("handbook/engineering/development/dev/manage/pocs.erb") %>

#### Issue triage

<%= partial("handbook/engineering/development/dev/manage/optimize/triage.erb") %>

### Working on unscheduled issues

<%= partial("handbook/engineering/development/dev/manage/unscheduled_issues.erb") %>

### Additional considerations

<%= partial("handbook/engineering/development/dev/manage/optimize_processes.erb") %>

## Meetings

Although we have a bias for asynchronous communication, synchronous meetings are necessary and should adhere to our [communication guidelines](/handbook/communication/#video-calls). Some regular meetings that take place in Manage are:

| Frequency | Meeting                              | DRI         | Possible topics                                                                                        |
|-----------|--------------------------------------|-------------|--------------------------------------------------------------------------------------------------------|
| Weekly    | Group-level meeting                  | Engineering Managers | Ensure current release is on track by walking the board, unblock specific issues                       |
| Monthly   | Planning meetings                    | Product Managers         | See [Planning](/handbook/engineering/development/dev/manage/#planning) section |

For one-off, topic specific meetings, please always consider recording these calls and sharing them (or taking notes in a [publicly available document](https://docs.google.com/document/d/1kE8udlwjAiMjZW4p1yARUPNmBgHYReK4Ks5xOJW6Tdw/edit)).

Agenda documents and recordings can be placed in the [shared Google drive](https://drive.google.com/drive/u/0/folders/0ALpc3GhrDkKwUk9PVA) (internal only) as a single source of truth.

Meetings that are not 1:1s or covering confidential topics should be added to the Manage Shared calendar.

All meetings should have an agenda prepared at least 12 hours in advance. If this is not the case, you are not obligated to attend the meeting. Consider meetings canceled if they do not have an agenda by the start time of the meeting.


## Group Members

The following people are permanent members of the group:

<%= stable_counterparts(role_regexp: /Manage.+Optimize/) %>

## Dashboards 

- [Feature usage](https://app.periscopedata.com/app/gitlab/779829/Manage:Optimize-Feature-Usage)


## Links and resources
{: #links}

<%= partial("handbook/engineering/development/dev/manage/shared_links.erb") %>
* [Milestone retrospectives](https://gitlab.com/gl-retrospectives/manage-stage/optimize/-/issues)
* Our Slack channels
  * Manage:Optimize [#g_manage_optimize](https://gitlab.slack.com/messages/CJZR6KPB4)
  * Daily standups [#g_manage_optimize_daily](https://gitlab.slack.com/archives/C012SB84TFU)
* Issue boards
  * Optimize [build board](https://gitlab.com/groups/gitlab-org/-/boards/1401511) and [refinement board](https://gitlab.com/groups/gitlab-org/-/boards/1874426)ֿ
* For more information about the optimize group's plans and vision visit the [Groups page](https://about.gitlab.com/handbook/product/categories/#optimize-group)
