---
layout: default
title: Video - Going Cloud-Native
description: "View the video now to find out how going Cloud-Native can make your business more flexible, reduce costs, increase collaboration, and improve security."
canonical_path: "/resources/video-going-cloud-native/"
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://www.youtube.com/watch?v=wtaOQY_ITvQ"
form_id: "1002"
form_type: "resources"
cta_title: "Watch the video"
cta_date: 
cta_subtitle: 
link_text: "Watch the video"
success_message: "You will also receive a link to the video sent to your inbox."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline What you need to know about going Cloud-Native
        %h2.page-subtitle Cloud-Native isn’t just a buzzword — it’s a vision for how businesses can be more flexible, reduce their costs, increase collaboration and improve security.

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Cloud-native applications are purpose-built for the cloud model and they consist of loosely coupled services, making best use of the cloud computing model.
            %p Adopting a cloud-native approach to leverage the power of the cloud has a host of benefits, including saving time and money, but it also poses some risks and challenges for businesses.

            %h3 In this on demand webcast, GitLab CEO and co-founder Sid Sijbrandij shares:
            %ul
              %li The advantages of Cloud-Native development
              %li The challenges of becoming Cloud-Native
              %li GitLab’s Cloud-Native vision

            %p View the video now to find out how going Cloud-Native can make your business more flexible, reduce costs, increase collaboration, and improve security.


        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource"
